@tailwind base;
@tailwind components;
@tailwind utilities;

.screenreader-only {
  display: none;
}

.course-layout {
  grid-template-areas:
    'header header'
    'sider main';
}

.set-opacity-wrapper:hover > div > .set-opacity {
  opacity: 1;
}

.draggable {
  -webkit-app-region: drag;
}
